* {
  scroll-behavior: smooth;
  font-family: "Roboto", "sans-serif";
  margin: 0 auto;
  padding: 0;
}

#header {
  background-color: #1f2937;
}

#header header a h1 {
  color: #f9faf8;
  font-size: 24px;
}

#header a {
  text-decoration: none;
  margin: 0;
}

#header header nav ul a li {
  list-style: none;
  color: #e5e7eb;
  font-size: 18px;
  display: inline-block;
  padding: 10px;
}

#header header nav {
  margin: 0;
}

#header #section1container #section1left h1 {
  color: #f9faf8;
  font-size: 48px;
}

#header #section1container #section1left p {
  color: #e5e7eb;
  font-size: 18px;
  padding-bottom: 8px;
}

#header #section1container #section1left button {
  padding: 5px 30px;
  background-color: #3882f6;
  border-radius: 7px;
  border-color: #3882f6;
  border-style: none;
}

#header #section1container #section1left button a {
  color: #f9faf8;
  font-size: 20px;
  font-weight: 600;
}

#header #section1container #section1right img {
  color: #f9faf8;
  margin-right: 10px;
}

#header header {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
  justify-content: space-between;
  width: 80%;
  padding-top: 15px;
}

#header #section1container {
  display: flex;
  align-items: center;
  width: 80%;
  padding-bottom: 120px;
  justify-content: space-between;
}

#header #section1container #section1left {
  display: block;
  width: 45%;
  margin: 0;
}

#header #section1container #section1right {
  display: block;
  margin: 0;
}

#about {
    display: block;
    width: 68%;
    padding-top: 40px;
}

#about #abouttop {
    padding-bottom: 40px;
}

#about #abouttop h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    text-align: center;
}

#about #aboutbottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

#about #aboutbottom div {
    width: 170px;
    text-align:center;
}

#about #aboutbottom div img {
    border-radius: 15px;
    border: 4px solid #3882f6;
}

#about #aboutbottom div p {
    padding-top: 5px;
    color: #1f2937;
}